.home{
    min-height: 100vh;
    color: var(--color);
    &__welcome{
        padding: 112px 12px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        max-width: 72rem;
        margin-left: auto;
        margin-right: auto;
        h1{
            font-size: 30px;
            line-height: 30px;
            font-weight: 700;
        }
    }
    &__view-all-posts{
        color: rgb(6, 148, 162);
        text-decoration: none;
        cursor: pointer;
        font-weight: 700;
    }
    &__call-to-action{
        padding: 12px;
        background-color: var(--home-background);
    }

    &__posts-cont{
        display: flex;
        padding: 28px 12px;
        gap: 32px;
        flex-direction: column;
        max-width: 85rem;
        margin-right: auto;
        margin-left: auto;
    }
    &__posts-wrapper{
        display: flex;
        gap: 24px;
        flex-direction: column;
        align-items: center;
    }
    &__posts{
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
    }
}
@media (min-width: 1024px) {
    .home{
        &__welcome{
            h1{
                font-size: 60px;
                line-height: 60px;
            }
        }
    }
}